<ion-header >

    <ion-navbar>
      <!-- <ion-grid>
        <ion-row> 
          <ion-col style="padding-bottom: 0;" class="text-big">{{(profileData | async)?.lastName}} {{(profileData | async)?.firstName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 0;" class="text-med">@{{(profileData | async)?.userName}}</ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-title>
        Med Men
      </ion-title>
    </ion-navbar>
    <ion-navbar *ngIf="isPageView(this.pages.page1)" style="padding: 0;">
        <ion-segment [(ngModel)]="operations" color="primary">
      
          <ion-segment-button value="consulta">
              consulta
          </ion-segment-button>
    
          <ion-segment-button value="usuarios">
              Usuarios
          </ion-segment-button>
    
          <ion-segment-button value="contatos">
              Contatos
          </ion-segment-button>
        
        </ion-segment>
    </ion-navbar>
</ion-header>



<ion-content >

  <div *ngIf="isPageView(this.pages.page1)" class="pageCard">
      <ion-grid class="work-tools">
        <ion-row>
          <ion-col col-8>

            <ion-input placeholder="Doctor" [(ngModel)]="this.consult.doctor"></ion-input>
            <ion-input placeholder="Patient" [(ngModel)]="this.consult.patient"></ion-input>
          </ion-col>
          <ion-col>
            <h5 style="text-align: center;">{{ this._calendario.monthNames[data.mes]}} {{data.ano}}</h5>
            <h1 style="text-align: center;">{{data.dia}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-input placeholder="Info," [(ngModel)]="this.consult.info"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-label>Report</ion-label>
              <ion-textarea style="height:13em;" [(ngModel)]="this.consult.report"></ion-textarea>       
          </ion-col>
        </ion-row>

        <button ion-button block (click)="addToSchedule()">
          <ion-icon ios="ios-add-circle" md="md-add-circle">
          Add to Schedule
          </ion-icon>
         </button>
      </ion-grid>

     

  </div>
  
  <div *ngIf="isPageView(this.pages.page2)" class="pageCard">
      <ion-card class="calendar" *ngIf="this._calendario">
        <div  class="calendar-header">
          <ion-row class="calendar-month">
            <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
            <ion-col col-8>{{this._calendario.currentMonth}} {{this._calendario.currentYear}}</ion-col>
            <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div class="calendar-body">
          <ion-grid>
            <ion-row class="calendar-weekday">
              <ion-col>Dom</ion-col>
              <ion-col>Seg</ion-col>
              <ion-col>Ter</ion-col>
              <ion-col>Qua</ion-col>
              <ion-col>Qui</ion-col>
              <ion-col>Sex</ion-col>
              <ion-col>Sab</ion-col>
            </ion-row>
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of this._calendario.daysInLastMonth" class="last-month">
                {{lastDay}}
              </ion-col>
              <ion-col col-1 
              (click)="setCalendarCurrentDate(day)"
              *ngFor="let day of this._calendario.daysInThisMonth">
                <span class="currentDate" 
                *ngIf="this._calendario.currentDate == day; else otherDate">
                  {{day}}
                </span>
                <ng-template #otherDate class="otherDate">
                  {{day}}<br>
                  <div class="event-bullet" *ngIf="checkEvent(day)"></div>
                  <div class="event-bullet gone" *ngIf="!checkEvent(day)"></div>
                </ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of this._calendario.daysInNextMonth" class="next-month">
                {{nextDay}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
  </div>
  
  <div *ngIf="isPageView(this.pages.page3)" class="pageCard">
    <div style="text-align: center;">
        <img class="round-pic big" *ngIf="user && user.pic; else noUserPic" src={{user.pic}}/>
        <ng-template #noUserPic>
            <ion-icon class="round-pic big" name="contact"></ion-icon>
        </ng-template>
        <ion-title>
         {{(profileData | async)?.lastName}} {{(profileData | async)?.firstName}}
        </ion-title>
        <button ion-button>Log out</button>
    </div>
      
  </div>

</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-segment [(ngModel)]="pageView" color="primary">
  
          <ion-segment-button value={{this.pages.page1}}>
            <ion-icon name="md-briefcase"></ion-icon>
          </ion-segment-button>
  
          <ion-segment-button value={{this.pages.page2}}>
            <ion-icon name="md-calendar"></ion-icon>
          </ion-segment-button>
  
          <ion-segment-button value={{this.pages.page3}}>
              <ion-icon name="md-contact"></ion-icon>
          </ion-segment-button>
        
        </ion-segment>
      </ion-toolbar>
</ion-footer>