<ion-header >

    <ion-navbar style="height: 5em;">
      <ion-grid>
        <ion-row> 
          <ion-col style="padding-bottom: 0;" class="text-big">{{(profileData | async)?.lastName}} {{(profileData | async)?.firstName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 0;" class="text-med">@{{(profileData | async)?.userName}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
    <ion-navbar style="padding: 0;">
        <ion-segment [(ngModel)]="operations" color="primary">
      
          <ion-segment-button value="profile">
            Profile
          </ion-segment-button>
    
          <ion-segment-button value="Op II">
            Op II
          </ion-segment-button>
    
          <ion-segment-button value="Op III">
              Op III
          </ion-segment-button>
        
        </ion-segment>
    </ion-navbar>
</ion-header>



<ion-content padding>

  <div *ngIf="isPageView(this.pages.page1)">
      {{this.pages.page1}}
  </div>
  
  <div *ngIf="isPageView(this.pages.page2)">
      {{this.pages.page2}}
  </div>
  
  <div *ngIf="isPageView(this.pages.page3)">
      {{this.pages.page3}}
  </div>

</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-segment [(ngModel)]="pageView" color="primary">
  
          <ion-segment-button value={{this.pages.page1}}>
            <ion-icon name="md-briefcase"></ion-icon>
          </ion-segment-button>
  
          <ion-segment-button value={{this.pages.page2}}>
            <ion-icon name="md-calendar"></ion-icon>
          </ion-segment-button>
  
          <ion-segment-button value={{this.pages.page3}}>
              <ion-icon name="md-contact"></ion-icon>
          </ion-segment-button>
        
        </ion-segment>
      </ion-toolbar>
</ion-footer>