<ion-header>
  <ion-navbar>
      <ion-grid>
        <ion-row> 
          <ion-col style="padding-bottom: 0;" class="text-big">{{(profileData | async)?.lastName}} {{(profileData | async)?.firstName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 0;" class="text-med">@{{(profileData | async)?.userName}}</ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  
  <div class="box-content">
    <ion-grid class="bar-tool" >
      <ion-row>

        <ion-col col-3></ion-col>

        <ion-col  class="aling-box" col-1>
          <button color="accent" class="aling-center" ion-button (click)="showMenu()">
            {{optionCtrlArray[optionCtrlIndex]}}
          </button>
        </ion-col>
<!--         
        <ion-select [(ngModel)]="optionCtrlIndex" (click)="optionsCtrlPop()" col-3>
          <ion-option value=0>Profile</ion-option>
        </ion-select> -->

        <ion-col class="search-bar" col-5>
          <ion-row>
            <ion-col col-10>
              <ion-item>
                <!-- <ion-label></ion-label> -->
                <ion-input [(ngModel)]="dataSearch" placeholder="Search"> </ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="aling-box" (click)="onClickSearch()">
              <ion-icon class="aling-center" name="search"></ion-icon>
            </ion-col>
          </ion-row>           
        </ion-col>
        <ion-col col-6></ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngIf="this.items" class="result-list">
      <ion-row *ngFor="let item of this.items">
          <ion-col col-5></ion-col>
          
          <ion-col col-1>
            <div class="item">
                {{item}}
            </div> 
          </ion-col>

          <ion-col col-1><button ion-button>Edit</button></ion-col>
          
          <!-- <ion-icon class="aling-center" name=" <ion-icon name="search"></ion-icon>"></ion-icon> -->

          <ion-col col-3></ion-col>
          
      </ion-row>
    </ion-grid>
      
  </div>
      

</ion-content>