<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box-header">

      <p>Username: {{(profileData | async)?.userName}}</p>
      <p>First Name: {{(profileData | async)?.firstName}}</p>
      <p>Last Name: {{(profileData | async)?.lastName}}</p>

  </div>
  <div class="box-content">
      <button *ngIf="this.userStatus == 'admin'" class="button-big" ion-button (click)="onClickAdmin()">
        Admin
      </button>

      <button *ngIf="(this.userStatus == 'admin') || (this.userStatus=='doctor')" class="button-big" ion-button (click)="onClickDoctor()">
        Doctor
      </button>

      <button *ngIf="(this.userStatus == 'admin') || (this.userStatus=='recpt')" class="button-big" ion-button (click)="onClickRecept()">
        Receptionist
      </button>
  </div>
      

</ion-content>