page-home {
    .box-content{
        margin: 1% !important;
        margin-top: 5% !important;
    }

    .bar-tool{
        background-color: #fff;
        border-radius: 2px;
        color: #222;
        ion-icon{
            font-size: 2em !important;
        }



        .search-bar{
            ion-label,ion-input,ion-icon{
                color: #222;
            }
        }
    }
}
