<ion-header>
  <ion-navbar>
      <ion-grid>
        <ion-row> 
          <ion-col style="padding-bottom: 0;" class="text-big">{{(profileData | async)?.lastName}} {{(profileData | async)?.firstName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 0;" class="text-med">@{{(profileData | async)?.userName}}</ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <ion-scroll class="horizontal-scroll" scrollX="true" style="width:100%; height:50px" >
      <ion-row nowrap >
        <div class="card-button" *ngFor="let objCtrl of objectsControl">
          <div class="center text-med text-light"> {{objCtrl.name}} </div>
        </div>
      </ion-row>
    </ion-scroll>
  <div class="box-content">
      <!-- <button *ngIf="this.userStatus == 'admin'" class="button-big" ion-button (click)="onClickAdmin()">
        Admin
      </button>

      <button *ngIf="(this.userStatus == 'admin') || (this.userStatus=='doctor')" class="button-big" ion-button (click)="onClickDoctor()">
        Doctor
      </button>

      <button *ngIf="(this.userStatus == 'admin') || (this.userStatus=='recpt')" class="button-big" ion-button (click)="onClickRecept()">
        Receptionist
      </button> -->

      <ion-grid class="bar-tool" >
        <ion-row>
          <ion-col col-1 icon-start class=".text-left" (click)="onClickAdd()">
            <button  class="fab-button aling-box text-light">
                <ion-icon class="aling-center" name="add"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-10>
            <ion-input ></ion-input>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-grid>
      
  </div>
      

</ion-content>