page-login {
    text-align: center;
    h1{
        margin-bottom: 10%;
        font-weight: 300;
    }
    .box-content{
        margin: 20%;
        margin-top: 15% !important;
    }

    p{
        color: #ffffff80;
        margin: 1%;
        text-decoration: underline;
    }

    button{
        width: 70%;
    }
}
