// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content, .card-button, .aling-box{
    display: flex !important;
}

ion-content,ion-item{
    background-color: #fff !important;
    color: #222 !important;
}

.title-page{
    margin-bottom: 10%;
    font-weight: 300;
}
.box-header{
    padding: 5%;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.box-content{
    align-self: center;
    text-align: center !important;
    margin: 20%;
    margin-top: 15% !important;
}

.link-page{
    color: #00000080;
    margin: 1%;
    text-decoration: underline;
}

.button-big{
    width: 70%;
}

.text-big{
    font-size: 1.8em !important;
    font-weight: 100 !important;
}

.text-med{
    font-size: 0.9em !important;
    font-weight: 300;
    color: #000000a0
}

.horizontal-scroll{
    .scroll-content{
        height: 10em !important;
    }
}

.center{
    align-self: center;
    margin: auto;
}

.card-button{
    margin: 1%;
    border-radius: 2px;
    width: 30% !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3),
                0 -1px 5px -1px rgba(0, 0, 0, 0.3);
    padding: 1%;
    background-image: linear-gradient(to bottom right, #0ab170, #0ab193,#0ab1ad);

}


.text-light{
    color: #fff !important;
}

.text-left{
    text-align: left !important;
}

.aling-left{
    align-self: flex-start !important;
    margin: auto !important;
}

.aling-right{
    align-self: flex-end !important;
    margin: auto !important;
}

.aling-center{
    align-self: center !important;
    margin: auto !important;
}